<%= form_with(model: bug) do |form| %>
  <% if bug.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bug.errors.count, "error") %> prohibited this bug from being saved:</h2>

      <ul>
        <% bug.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
   <div class="field">
    <%= form.label :status %>
<%if current_user.role == 'Admin'%>
 
    
    <% @users.each do |user|%>
    <%if user.role=='Developer'%>
    <%= form.radio_button :status, (user.first_name + " " + user.last_name)%> <%= form.label (user.first_name + " " + user.last_name) %> <br />
    
    <% end %>
    
    <% end %>
    
  

  <%elsif current_user.role == 'QA' and bug.status=="resolved"%>

<%= form.radio_button :status, 'Done'%> Done <br />
  <%elsif (current_user.role == 'Developer' and (bug.status == (current_user.first_name + " " + current_user.last_name)))%>
<%= form.radio_button :status, 'resolved'%> resolved <br />
<% end %>
</div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
